<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-avatar slot="end" id="avatar-alert">
      <img src="../../assets/avatars/avatar01.png" alt="Avatar Principal">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-alert
  id="alerta"
  trigger="avatar-alert"
  header="¿Deseas moverte a la página sheet?"
  subHeader="Piénsalo bien"
  message="Cuidadito que es una decisión importante >:D"
  [buttons]="alertButtons">
</ion-alert>

<ion-content>
  <ion-list id="cardContainer">
    <ion-card>
      <ion-card-content>
        <div class="content-wrapper">
          <ion-label>Amon</ion-label>
          <ion-avatar slot="end" id="cardAvatar">
            <img src="../../assets/avatars/avatar01.png" alt="Amon" height="64" width="64">
          </ion-avatar>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="content-wrapper">
          <ion-label>Yushu</ion-label>
          <ion-avatar slot="end">
            <img src="../../assets/avatars/avatar02.png" alt="Yushu" height="64" width="64">
          </ion-avatar>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div class="content-wrapper">
          <ion-label>Shana</ion-label>
          <ion-avatar slot="end">
            <img src="../../assets/avatars/avatar03.png" alt="Shana" height="64" width="64">
          </ion-avatar>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
